<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
    <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
        {% for link in linklists[section.settings.category_list].links %}
        {% if link.links == blank %}
        <a href="{{link.url}}" class="nav-item nav-link">{{link.title}}</a>
        
        {% endif %}
        {% endfor %}
    </div>
</nav> 

