<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            {% if section.settings.content1 != blank %}
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{{section.settings.content1}}</h5>
            </div>
            {% endif %}
        </div>
       

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            {% if section.settings.content2 != blank %}
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">{{section.settings.content2}}</h5>
            </div>
        {% endif %}
            
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            {% if section.settings.content3 != blank %}
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{{section.settings.content3}}</h5>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            {% if section.settings.content4 != blank %}
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{{section.settings.content4}}</h5>
            </div>
            {% endif %}
        </div>
    
      
    </div>
</div>
<!-- Featured End -->


{% schema %}
{
    "name":"Featured content",
  
    "settings":[
    {
        "type":"text",
        "id":"content1",
        "label":"Fetaured Content 1"
    },
    {
        "type":"text",
        "id":"content2",
        "label":"Fetaured Content 2"
    },
    {
        "type":"text",
        "id":"content3",
        "label":"Fetaured Content 3"
    },
    {
        "type":"text",
        "id":"content4",
        "label":"Fetaured Content 4"
    }
    ]
   
}
{% endschema %}