<div class="row">
 <div class="col-lg-3 "></div> 
<div class="col-lg-9">
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for block in section.blocks%}
        <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="{{ block.settings.slider_image | image_url }}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                    <a href="https://bigshoptrial.myshopify.com/collections/all" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
       
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
</div>
</div>
{% schema %}

{
    "name":"Homepage Carousel",
    "settings":[
    {
        "type":"text",
        "id":"something",
        "label":"Home Page Slider"
    }
    ],
    "blocks":[
    {
        "type":"image",
        "name":"Home Slider",
        "settings":[
        {
            "type":"image_picker",
            "id":"slider_image",
            "label":"Slider Image"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Image link"
        }
        ]
    }
    ]
   
}

{% endschema %}
